<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="BankingSuite">
    <listeners>
        <listener class-name="com.banking.utilities.Reporting"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="BankingApp Test">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.banking.testCases.TC_LoginTest_001"></class>
            <class name="com.banking.testCases.TC_AddNewCustomerTestDDT"></class>
<!--
            <methods><include name="loginTest"/></methods>
-->

        </classes>
    </test>
</suite>


